extends layout

block content
  h1= "Fusion Block Explorer API"
  p Welcome to #{title}
  p to learn how to use this fusion api please 
  p go to 
  a(href='https://github.com/FUSIONFoundation/web3-fusion-extend/tree/master/examples/blockexplorerapi') BlockExplorer API