extends layout

block content
  h1= "Fusion Block Explorer API"
  p Welcome to the FUSION API. A gateway for developers to seamlessly explore and interact with the FUSION blockchain. 
  p
  p api.fusionnetwork.io is a publicly available, easily accessible and stable FUSION node that enables users to experiment with the FUSION blockchain without any cumbersome set-up activities or costs. 
  p The API gateway circumvents the time-consuming loops that a developer regularly needs to jump through to collect and access useful information from a blockchain.  
  p 
  p With the FUSION API, programmers do not need to set up a node, create a wallet, own any native FUSION tokens or pay any fees. Just dive right in and start running the command lines to see for yourself.  
  p
  p Further instructions are available in the FUSION Block Explorer API repository on Github. 
  a(href='https://github.com/FUSIONFoundation/web3-fusion-extend/tree/master/examples/blockexplorerapi') Fusion Block Explorer API
  p
  p The block explore api can also be used with the Fusion web extensions
  a(href='https://github.com/FUSIONFoundation/web3-fusion-extend/tree/master') Fusion web3 Fusion extensions
